node_modules
npm-debug.log
dist
.env
.env.local
.env.*.local
coverage
.git
.gitignore
README.md
.vscode
.idea
*.md
.DS_Store
.eslintrc.cjs
vite.config.ts
vitest.config.ts
tsconfig.json
tsconfig.app.json
tsconfig.node.json
